.pokedex-container {
  background-color: #FF75A0;
  margin-left: 10%;
  width: 80%;
  min-height: 650px;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
}

.pokelist-container {
  width: 300px;
  flex-grow: 3;
  background-color: #EAFFD0;
  height: 630px;
  margin: 10px;
  border-radius: 10px 1px 1px 10px;
  overflow-y: scroll;
}

.pokesearchresult-container {
  display: flex;
  align-items: center;
  width: 300px;
  flex-grow: 1;
  margin: 10px;
  background-color: #EAFFD0;
  height: 630px;
  margin: 10px;
  border-radius: 1px 10px 10px 1px;
}